#titulo\000020principal{
        text-align: center;
        color:white;
        background: pink;
    
    }
    
.parrafoVerde{
        color:green;
        
        
        
        
    }
    
.parrafoRojo{
    
    color:red;
    
    
    }
